/* 3-я страница */

body {
    /* Плавный переход для смены заднего фона */
    transition: background .5s;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


/* Nav-bar */
.nav {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-transform: uppercase;
}
.nav li {
    padding: 7px 0;
    letter-spacing: 3px;
}
.nav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
}
.nav li a:hover:not(.active) {
    background-color: #111;
}
.nav li a::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    height: 2px;
    background: #fff;
    border-radius: 1px;
}
.nav li a.active::after {
    opacity: 1;
}


/* Использование flex с column direction для вертикального выравнивания элементов  */
.player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}
.now-playing {
    font-size: 1rem;
}
.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 15%;
}
.track-name {
    font-size: 3rem;
}
.track-artist {
    font-size: 1.5rem;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vetical align */
}
.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
}

/* Определение ширины ползунка, чтобы он правильно масштабировался */
.slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center; /* Vetical align */
}
input[type=range] {
    outline: 0;
}

/* Изменение внешнего вида ползунка */
.seek_slider,
.volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Изменение внешнего вида бегунка ползунка */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

/* Изменение прозрачности при наведении */
.seek_slider:hover,
.volume_slider:hover {
    opacity: 1.0;
}

.seek_slider {
    width: 60%;
}
.volume_slider {
    width: 30%;
}

.current-time,
.total-duration {
    padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

/* Изменение курсора мыши на указатель при наведении на элементы управления */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
}